.main {
  background-image: url("../../public/banner.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 70px);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 90%;
}

.content h1 {
  font-weight: bold;
  color: #555555;
}

.content p {
  color: #6e6a6a;
  font-size: large;
}

.content .button {
  color: white;
  font-weight: bold;
  background-color: #e32636;
  border-radius: 40px;
  padding: 18px;
  width: 200px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
